* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
.part1 {
  display: flex;
  justify-content: center;
}
.sec1 {
  display: flex;
  width: 90%;
  align-items: center;
}
.section-text {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.section1 h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  width: 550px;
  letter-spacing: -0.03em;
  margin-bottom: 10px;
  color: #1e1b1b;
}
.section1 p {
  width: 400px;
  margin-top: 20px;
}
.num1 {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: #661ce7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.sec2-head1 {
  display: flex;
  align-items: center;
}
.sec2-head1 h5 {
  font-size: 25px;
  margin-left: 20px;
}
.sec2-head2 p {
  width: 300px;
  font-size: 18px;
  margin-left: 40px;
}
.sec2-head2 {
  border-left: 2px solid #ff6433;
  border-left-style: dotted;
  display: flex;
  justify-content: end;
  margin-left: 20px;
  margin-top: 7px;
}
.sec2-1 {
  width: 360px;
  margin-top: 10px;
}
.sec2-head2-diff {
  display: flex;
  justify-content: end;
  margin-left: 20px;
  margin-top: 7px;
}
.sec2-head2-diff p {
  width: 300px;
  font-size: 18px;
  margin-left: 40px;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  height: auto;
}
.wrap {
  width: 180px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 2px;
}
.wraph {
  background-color: #ff6433;
  color: #fff;
  width: 180px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
.wrap p {
  font-size: 16px;
}
.wrap-1 {
  display: flex;
}
.part2 {
  background-color: #f2f2f2;
  margin-top: 80px;
}
.prt2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.prt2 p {
  font-size: 24px;
  text-align: center;
}
.prt2 h2 {
  width: 710px;
  font-size: 45px;
  text-align: center;
}
.prt2-last {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
.prt3-1 {
  background-image: url(./Images/Image\ 1.png);
  height: 270px;
  width: 600px;
  flex: 1;
  background-position: left;
  background-size: contain;
  display: flex;
  justify-content: end;
}
.prt3-2 {
  background-image: url(./Images/ovGrEUgrkyE.png);
  height: 270px;
  width: 600px;
  flex: 1;
  background-size: cover;
}
.part3 {
  display: flex;
}
.prt3-text {
  background-color: #ff6433;
  height: 100%;
  width: 70%;
}
.prt3-text p {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  padding: 30px;
}
.part4 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.prt4-1 {
  padding: 20px 0;
}
.part4 h2 {
  font-weight: 800;
  color: #661ce7;
}
.prt4-1 h2 {
  font-size: calc(1vh + 2.4vw);
}
.prt4-1 p {
  font-size: calc(1vh + 1.3vw);
}
.part5 {
  background-color: #fafafa;
  height: 350px;
  text-align: center;
}
.part5 h2 {
  font-size: 30px;
  padding-top: 60px;
}
.prt5-logo {
  width: 80%;
}
.prt5-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* .ptr{
    width: 1000px;
    padding: 0 50px;
  } */
/* @media screen and (max-width: 768px) {
  .sec1 {
    flex-direction: column;
    width: 100%;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section1 h2 {
    width: 80%;
  }
  .section2 {
    justify-content: center;
  }
  .sec2-1 {
    width: 45%;
    margin: 10px;
  }
  .three {
    margin-top: 30px;
  }
} */

@media screen and (max-width: 1000px) {
  .sec1 {
    flex-direction: column;
  }
  .section1 {
    text-align: center;
  }
  .section2 {
    justify-content: space-around;
    margin-top: 30px;
  }
  .section2 :nth-child(3) {
    margin-top: 30px;
  }
  .section-text-p {
    font-size: 18px;
  }
  .wrapper-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prt3-1 {
    width: 50%;
    background-size: cover;
  }
  .prt3-2 {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .prt2 h2 {
    font-size: 6vw;
    width: auto;
  }
  .wrap-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrap,
  .wraph {
    width: 40%;
    margin: 10px;
  }
  .prt3-text {
    display: flex;
    align-items: center;
  }
  .prt3-text p {
    font-size: 3vw;
    padding: 12px;
  }
  .part4 {
    text-align: center;
  }
  .prt4-1 {
    margin: 10px;
  }
}
@media screen and (max-width: 600px) {
  .section1 h2 {
    font-size: 30px;
    text-align: center;
    width: auto;
    line-height: 40px;
    padding: 10px;
  }
  .prt3-1,
  .prt3-2 {
    height: 250px;
  }

  .prt4-1 {
    margin: 10px;
  }
  .part5 h2 {
    font-size: 22px;
  }
  .prt5-logo {
    width: 100%;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .section1 h2 {
    font-size: 23px;
    margin-bottom: auto;
  }
  .sec2-head2 p,
  .sec2-head2-diff p {
    font-size: 14px;
  }
  .sec2-head1 h5 {
    font-size: 20px;
  }
  .sec2-1 {
    width: 80%;
  }
  .section-text-p {
    font-size: 16px;
    width: auto !important;
  }
  .section2 :nth-child(3) {
    margin-top: 10px;
  }
  .prt2-last {
    justify-content: center;
  }
  .prt2-last p {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 360px) {
  .section1 h2 {
    font-size: 5vw;
  }
  /* .section-text-p {
  } */
  .section2 {
    width: auto;
  }
  .wrap,
  .wraph {
    width: 100%;
  }
  .prt2-last {
    justify-content: center;
  }
  .prt2-last p {
    font-size: 18px !important;
  }
  .prt5-logo {
    height: 65px;
  }
}
