* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}
.menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-cont {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding-top: 20px;
}
.logo {
  flex: 1;
}
.menu-logo {
  width: 90px;
  height: 30px;
}
.menu-prt2 {
  width: 50%;
  display: flex;
  flex: 2;
  justify-content: end;
}
.unlist {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.unlist li {
  padding: 10px;
}
.unlist a {
  color: #000;
  font-weight: 600;
}
.call-img {
  background-color: rgb(75, 189, 75);
  padding: 10px;
  border-radius: 50%;
}
.contact-cont {
  display: flex;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 130px;
  justify-content: center;
  line-height: 1.3;
  margin-left: 10px;
}
.contact-detail {
  font-weight: 600;
}
.menu {
  border-right: 1px solid lightgray;
  margin-right: 30px;
  padding-right: 30px;
}
.part1 {
  display: flex;
  justify-content: center;
}
.sec1 {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.section-text {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.section1 h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  width: 550px;
  letter-spacing: -0.03em;
  margin-bottom: 10px;
  color: #1e1b1b;
}
.section1 p {
  width: 400px;
  margin-top: 20px;
}
.know {
  display: flex;
  justify-content: center;
}
.num1 {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: #661ce7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.sec2-head1 {
  display: flex;
  align-items: center;
}
.sec2-head1 h5 {
  font-size: 25px;
  margin-left: 20px;
}
.sec2-head2 p {
  width: 300px;
  font-size: 18px;
  margin-left: 40px;
}
.sec2-head2 {
  border-left: 2px solid #ff6433;
  border-left-style: dotted;
  display: flex;
  justify-content: end;
  margin-left: 20px;
  margin-top: 7px;
}
.sec2-1 {
  width: 360px;
  margin-top: 10px;
}
.sec2-head2-diff {
  display: flex;
  justify-content: end;
  margin-left: 20px;
  margin-top: 7px;
}
.sec2-head2-diff p {
  width: 300px;
  font-size: 18px;
  margin-left: 40px;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  height: auto;
}
.wrap {
  width: 180px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 2px;
}
.wraph {
  background-color: #ff6433;
  color: #fff;
  width: 180px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
.wrap p {
  font-size: 16px;
}
.wrap p,
.wraph p {
  margin-top: 10px;
}
.wrap-1 {
  display: flex;
}
.part2 {
  background-color: #f2f2f2;
  margin-top: 80px;
}
.prt2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.prt2 p {
  font-size: 24px;
  text-align: center;
}
.prt2 h2 {
  width: 710px;
  font-size: 45px;
  text-align: center;
}
.prt2-last {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
.prt3-1 {
  background-image: url(./Images/Image\ 1.png);
  height: 270px;
  width: 600px;
  flex: 1;
  background-position: left;
  background-size: contain;
  display: flex;
  justify-content: end;
}
.prt3-2 {
  background-image: url(./Images/ovGrEUgrkyE.png);
  height: 270px;
  width: 600px;
  flex: 1;
  background-size: cover;
}
.part3 {
  display: flex;
}
.prt3-text {
  background-color: #ff6433;
  height: 100%;
  width: 70%;
}
.prt3-text p {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  padding: 30px;
}
.part4 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.prt4-1 {
  padding: 20px 0;
}
.part4 h2 {
  font-weight: 800;
  color: #661ce7;
}
.part5 {
  background-color: #fafafa;
  height: 350px;
  text-align: center;
}
.part5 h2 {
  font-size: 30px;
  padding-top: 60px;
}
.prt5-logo {
  width: 85px;
  height: 85px;
}
.prt5-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.part3-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.part3-cont {
  width: 80%;
  display: flex;
  margin: 60px 0;
  justify-content: space-around;
}
.part3-1,
.part3-img-cont {
  width: 40%;
}
.part3-img-cont {
  display: flex;
  /* position: relative; */
  width: 400px;
  height: 365px;
}
.part3-img {
  width: 100%;
  height: 100%;
  margin: 0 10px;
}
.part3-text {
  display: flex;
  width: 84%;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  margin: 20px 0;
}
.part3-text p {
  width: 304px;
}
.part3-1 h1 {
  width: 336px;
}
.part4-text {
  margin: 30px 0;
}
.btn {
  width: 140px;
  height: 45px;
  background-color: #ff6433;
  border: 1px solid;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}
.last-sec-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  height: 500px;
  align-items: center;
}
.last-sec-cont {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.last-sec1 h1 {
  width: 330px;
  font-size: 35px;
}
.cont {
  margin-left: 10px;
  margin-left: 10px;
  line-height: 1.4;
}
.cont h3 {
  font-size: 23px;
}
.cont p {
  width: 300px;
}
.time {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.time-info {
  margin-left: 10px;
}
.fir-p {
  font-size: 14px;
  padding-bottom: 5px;
}
.sec-p {
  font-weight: bold;
}
.part3-img-wrap1 {
  width: 215px;
  height: 90px;
  background-color: lightgray;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 180px;
  right: 410px;
}
.part3-img-wrap2 {
  width: 215px;
  height: 90px;
  background-color: lightgray;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 345px;
  right: 179px;
}
.part3-img-wrapper {
  width: 170px;
  height: 70px;
  background-color: #fff;
  color: #000;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 17px;
}
.part3-img-wrap {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  letter-spacing: -1px;
}
.star {
  width: 17px;
  height: 17px;
  padding: 0 2px;
}
.clok-img {
  width: 25px;
  height: 25px;
}
.last-sec2 h1 {
  width: 390px;
  font-size: 35px;
}
.last-sec2-cont-wrapper {
  margin: 20px 0;
}
.last-sec2-cont {
  width: 350px;
  height: 45px;
  background-color: #fff;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}
.last-cont-img {
  width: 25px;
  height: 25px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
}
.last-sec-prt1 {
  display: flex;
  align-items: start;
  margin: 20px 0;
}
.last-sec2-cont-inp {
  height: 100%;
  width: 100%;
  background-color: unset;
  color: #fff;
  border: unset;
  padding-left: 20px;
}
.last-sec2-cont-inp::placeholder {
  color: #000;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;
}
.footer {
  width: 80%;
  display: flex;
  color: #fff;
  margin: 60px 0;
}
.ft-part1,
.ft-part2 {
  width: 40%;
}
/* .ft-part1 h2 {
  width: 255px;
} */
.s-media {
  width: 35%;
  display: flex;
  justify-content: space-around;
  font-size: 23px;
  margin: 30px 0;
}
.ft1 {
  margin-bottom: 30px;
}
/* .ptr{
    width: 1000px;
    padding: 0 50px;
  } */
/* @media screen and (max-width: 768px) {
  .sec1 {
    flex-direction: column;
    width: 100%;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section1 h2 {
    width: 80%;
  }
  .section2 {
    justify-content: center;
  }
  .sec2-1 {
    width: 45%;
    margin: 10px;
  }
  .three {
    margin-top: 30px;
  }
} */

@media screen and (max-width: 1000px) {
  .sec1 {
    flex-direction: column;
  }
  .section1 {
    text-align: center;
  }
  .section2 {
    justify-content: space-around;
    margin-top: 30px;
  }
  .section2 :nth-child(3) {
    margin-top: 30px;
  }
  .section-text-p {
    font-size: 18px;
  }
  .wrapper-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prt3-1 {
    width: 50%;
    background-size: cover;
  }
  .prt3-2 {
    width: 50%;
  }
  .menu-cont {
    flex-direction: column;
    align-items: center;
  }
  .menu-prt2 {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  .unlist a {
    font-size: 18px;
  }
  .part3-cont {
    width: 95%;
  }
  .part3-img-wrap1 {
    top: 233px;
    right: 280px;
  }
  .part3-img-wrap2 {
    top: 435px;
    right: 21px;
  }
  .fir-p,
  .sec-p {
    font-size: 20px;
  }
  .last-sec-cont {
    width: 90%;
  }
  .last-sec-wrapper {
    height: auto;
  }
  .last-sec-cont {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .last-sec1 {
    width: 100%;
  }
  .last-sec1 h1 {
    width: 100%;
    text-align: center;
  }
  .cont p {
    width: 100%;
  }
  .last-sec2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .last-sec2 h1 {
    width: 100%;
    text-align: center;
  }
  .last-sec2-cont {
    width: 70%;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .ft-part1 {
    text-align: center;
  }
  .s-media {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .part3-img-wrap1,
  .part3-img-wrap2 {
    width: 180px;
    height: 75px;
  }
  .part3-img-wrapper {
    width: 132px;
    height: 56px;
  }
  .part3-img-wrapper p {
    font-size: 12px;
  }
  .part3-img-wrap {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .star {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 812px) {
  .part3-img-wrap1 {
    top: 279px;
    right: 280px;
  }
  .call-img {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .contact-cont {
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .prt2 h2 {
    font-size: 6vw;
    width: auto;
  }
  .wrap-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrap,
  .wraph {
    width: 40%;
    margin: 10px;
  }
  .part3-cont {
    flex-direction: column;
    align-items: center;
  }
  .part3-1 {
    width: 100%;
  }
  .part3-img-cont {
    width: 100%;
  }
  .part3-img-wrap1 {
    top: 570px;
    left: 10px;
  }
  .part3-img-wrap2 {
    top: 760px;
    right: 9px;
  }
  .part3-1 h1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }
  .prt3-text {
    display: flex;
    align-items: center;
  }
  .prt3-text p {
    font-size: 3vw;
    padding: 12px;
  }
  .part4 {
    text-align: center;
  }
  .part4-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .time {
    align-items: end;
  }
  .prt4-1 {
    margin: 10px;
  }
  .menu-prt2 {
    flex-direction: column;
    align-items: center;
  }
  .menu {
    border-right: unset;
    margin-right: unset;
    padding-right: unset;
  }
  .unlist a {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .section1 h2 {
    font-size: 30px;
    text-align: center;
    width: auto;
    line-height: 40px;
    padding: 10px;
  }
  .prt3-1,
  .prt3-2 {
    height: 250px;
  }

  .prt4-1 {
    margin: 10px;
  }
  .part5 h2 {
    font-size: 22px;
  }
  /* .prt5-logo {
    width: 100%;
    height: 80px;
  } */
  .unlist a {
    font-size: 18px;
  }
}
@media screen and (max-width: 512px) {
  .part3-img-wrap1 {
    top: 627px;
  }
  .part3-img-wrap2 {
    top: 796px;
  }
  .part3-img-wrap1,
  .part3-img-wrap2 {
    width: 150px;
    height: 60px;
  }
  .part3-img-wrapper {
    width: 110px;
    height: 45px;
  }
  .star {
    width: 9px;
    height: 9px;
  }
}
@media screen and (max-width: 495px) {
  .part3-img-wrap1 {
    top: 669px;
  }
  .part3-img-wrap2 {
    top: 857px;
  }
}
@media screen and (max-width: 480px) {
  .section1 h2 {
    font-size: 23px;
    margin-bottom: auto;
  }
  .sec2-head2 p,
  .sec2-head2-diff p {
    font-size: 14px;
  }
  .sec2-head1 h5 {
    font-size: 20px;
  }
  .sec2-1 {
    width: 100%;
  }
  .section-text-p {
    font-size: 16px;
    width: auto !important;
  }
  .section2 :nth-child(3) {
    margin-top: 10px;
  }
  .prt2-last {
    justify-content: center;
  }
  .prt2-last p {
    font-size: 18px !important;
  }
  .prt2 {
    padding: 70px 16px 0 16px;
  }
  .unlist a {
    font-size: 18px;
  }
  .part3 {
    flex-direction: column;
    height: 400px;
    width: 100%;
  }
  .prt3-1,
  .prt3-2 {
    width: 100%;
  }
  .last-sec2-cont {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .s-media {
    width: 50%;
  }
  .footer {
    flex-direction: column;
  }
  .ft-part1 {
    width: 100%;
  }
  .ft-part2 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 383px) {
  .part3-img-wrap1 {
    top: 729px;
  }
  .part3-img-wrap2 {
    top: 917px;
  }
}
/* @media screen and(max-width: 420px) {
  .unlist {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  .unlist li {
    padding: 10px !important;
  }
  .unlist a {
    font-size: 18px;
  }
} */
@media screen and (max-width: 360px) {
  .section1 h2 {
    line-height: 29px;
  }
  /* .section-text-p {
  } */
  .section2 {
    width: 100%;
  }
  .wrapper-cont {
    padding: 0 20px;
  }
  .wrap,
  .wraph {
    width: 100%;
  }
  .prt2 {
    padding: 70px 16px 0 16px;
  }
  .prt2-last {
    justify-content: center;
  }
  .prt2-last p {
    font-size: 18px !important;
  }
  /* .prt5-logo {
    height: 65px;
  } */
  .unlist a {
    font-size: 18px;
  }
}
/* services page up next */
/* so do i push to the main after working or i merge or i can do both */
